<div class="row headline text-center">
	<p>Sweet sugar cookie treats for any occasion! WOW your guests at your next party or event with a handmade designer cookie! My cookies make great wedding favors and party favors. </p>
</div>
<div class="row">
	<p>
		Perfect for birthdays, weddings, holidays, graduations or just because! My standard recipe is a vanilla sugar
		cookie with vanilla royal icing. If you are not familiar with royal icing, it dries hard on the cookie, and is very tasty!<hr>
	</p>
	<p>
		<b>Minimum order: 1 dozen</b><br /><br />

		Prices range from $2-$4 per cookie, depending on size and complexity of order.
		Each cookie is packaged individually in a clear cello bag, and tied with a coordinating ribbon.<hr>
	</p>
	<p>
		<b>Sweet Surrender Snacks</b><br/><br/>

		$6 per dozen<br/><br/>

		These are cute little 1 inch rounds, perfect for snacking on, sampling, or used as party favors! Your Snack
		order can be decorated with 2 icing colors of your choice. No detail (except for one letter or number),
		since Snacks are, well, snack size!<br/><br/>

		If only ordering Snacks, 5 dozen minimum order is required. If ordering with other cookies,
		minimum of 1 dozen. They will be bagged by the dozen, unless otherwise requested.<hr>
	</p>
	<p>
		<b>Payment details</b><br/><br/>

		*Local customers, payment is due when you receive the cookies.<br/><br/>
		*For my shipping customers, payment is due in advance. Payment in full immediately guarantees your place on my calendar. I will not "hold" a spot for unpaid orders, so don't wait too long!<br/><br/>
		*For weddings/large events, I do require a deposit of 50%, which will also reserve your place on my calendar. Balance must be paid 2 weeks before your scheduled event.<br/><br/>

		If you have an Etsy account, I can set your listing/order up through there. If not, I can send you an
		invoice directly through Paypal.<br/><br/>

		Please allow at least a 2 week lead time for all orders. Thank you!<br/><br/>

		PS~ Although nuts are not used in my recipe, the cookies are created in a kitchen that comes in contact with nut products. Please inform me of any allergies at all! :)
	</p>
</div>
