<div class="row">
    <div class="col-sm-4" ng-repeat="filePath in cookieImages">
        <img class="img-responsive" ng-src="{{ filePath }}" />
    </div>
</div>

<!--<div class="gamma-container gamma-loading" id="gamma-container">-->
	<!--<ul class="gamma-gallery">-->
		<!--<li ng-repeat="filePath in cookieImages">-->
			<!--<div  data-max-width="1800" data-max-height="2400">-->
				<!--<div data-src="{{ filePath }}" data-min-width="1300"></div>-->
				<!--<div data-src="{{ filePath }}" data-min-width="1000"></div>-->
				<!--<div data-src="{{ filePath }}" data-min-width="700"></div>-->
				<!--<div data-src="{{ filePath }}" data-min-width="300"></div>-->
				<!--<div data-src="{{ filePath }}" data-min-width="200"></div>-->
				<!--<div data-src="{{ filePath }}" data-min-width="140"></div>-->
				<!--<div data-src="{{ filePath }}"></div>-->
				<!--<noscript>-->
					<!--<img src="{{ filePath }}" alt="img01"/>-->
				<!--</noscript>-->
			<!--</div>-->
		<!--</li>-->
	<!--</ul>-->
<!--</div>-->