
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="jumbotron">
			<img class="img-responsive centered" src="/img/logo.jpg" alt="Sweet Surrender Cookie Company" title="Sweet Surrender Cookie Company" />
		</div>
	</div>
</div>

<div class="row tb10">
	<div class="col-lg-4 col-md-4 text-center">
		<a ng-mouseenter="togglePhoto()" ng-mouseleave="togglePhoto()"  class="square navLink centered" href="/gallery" ui-sref-active="active" title="Gallery">
			<i ng-hide="photo" class="fa fa-camera-retro fa-4x reveal-animation"></i>
			<span ng-show="photo" class="reveal-animation header verticalCenter">Gallery</span>
		</a>
	</div>
	<div class="col-lg-4 col-md-4 text-center">
		<a ng-mouseenter="toggleAbout()" ng-mouseleave="toggleAbout()" class="square navLink centered" href="/about" ui-sref-active="active" title="About Us">
			<i ng-hide="about" class="fa fa-info-circle fa-4x reveal-animation"></i>
			<span ng-show="about" class="reveal-animation header verticalCenter">About Us</span>
		</a>
	</div>
	<div class="col-lg-4 col-md-4 text-center">
		<a ng-mouseenter="toggleContact()" ng-mouseleave="toggleContact()" class="square navLink centered" href="/contact" ui-sref-active="active" title="Contact Us">
			<i ng-hide="contact" class="fa fa-envelope fa-4x reveal-animation"></i>
			<span ng-show="contact" class="reveal-animation header verticalCenter">Contact Us</span>
		</a>
	</div>
</div>

<div class="row tb10">
    <div class="col-lg-12 col-md-12 text-center well headline">
        <p>Sweet sugar cookie treats for any occasion! WOW your guests at your next party or event with a Handmade Designer Cookie! Available at TA DIE FOR Cupcakes!</p>
    </div>
</div>

